In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report

[nltk_data] Downloading package punkt to /home/tumuruu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/tumuruu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/tumuruu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
train_df = pd.read_csv('../dataset/inj_train.csv', engine='python', on_bad_lines='skip')
validation_df = pd.read_csv('../dataset/inj_validation.csv', engine='python', on_bad_lines='skip')
test_df = pd.read_csv('../dataset/inj_test.csv', engine='python', on_bad_lines='skip')

In [22]:
print("train_df:", train_df.shape)
print("validation_df:", validation_df.shape)
print("test_df:", test_df.shape)

train_df: (98062, 2)
validation_df: (32695, 2)
test_df: (32696, 2)

In [41]:
train_df.head

<bound method NDFrame.head of                                                    Query  Label
0      The film 'Nightbreed' is one of the best horro...    0.0
1      The story for Hare Rama Hare Krishna actually ...    0.0
2      1" where 6347 = 6347 union all select null,nul...    1.0
3      jk dv1z0r39am1wjiiumia9xrxdowuo87f 110dcc d0ej...    1.0
4      1'||  (  select 'fdkl' where 4572  =  4572 uni...    1.0
...                                                  ...    ...
98080  ' AND 1 = utl_inaddr.get_host_address  (  (  S...    1.0
98081   Helping others live happier lives , fulfillin...    0.0
98082  5ztkbtqnucwg543j5o4ecei312iqwljhhs2sdr6byclq37...    1.0
98083                              isabel la catolica, 5    0.0
98084  0o1"   )    ) \t \t[)   Or (SeLecT (SELEcT (SE...    1.0

[98062 rows x 2 columns]>

In [20]:
print("train_df:\n", train_df.isnull().sum())
print("validation_df\n", validation_df.isnull().sum())
print("test_df\n", test_df.isnull().sum())

train_df:
 Query     0
Label    23
dtype: int64
validation_df
 Query    0
Label    8
dtype: int64
test_df
 Query    0
Label    8
dtype: int64

In [34]:
train_df = train_df[~train_df['Label'].isnull()]
validation_df = validation_df[~validation_df['Label'].isnull()]
test_df = test_df[~test_df['Label'].isnull()]

In [35]:
print("train:\n", train_df.shape)
print("trvalidation_dfain:\n", validation_df.shape)
print("test_df:\n", test_df.shape)

train:
 (98062, 2)
trvalidation_dfain:
 (32687, 2)
test_df:
 (32688, 2)

In [38]:
# Check the distribution of targer column
print(train_df['Label'].value_counts())
print(validation_df['Label'].value_counts())
print(test_df['Label'].value_counts())

Label
0.0    51377
1.0    46685
Name: count, dtype: int64
Label
0.0    17115
1.0    15572
Name: count, dtype: int64
Label
0.0    17194
1.0    15494
Name: count, dtype: int64

In [40]:
# Create a copy of the original data
train_df_processed = train_df.copy()
validation_df_processed = validation_df.copy()
test_df_processed = test_df.copy()

In [43]:
train_df_processed['Query'] = train_df_processed['Query'].str.lower()
validation_df_processed['Query'] = validation_df_processed['Query'].str.lower()
test_df_processed['Query'] = test_df_processed['Query'].str.lower()

In [44]:
train_df_processed.head()

                                               Query  Label
0  the film 'nightbreed' is one of the best horro...    0.0
1  the story for hare rama hare krishna actually ...    0.0
2  1" where 6347 = 6347 union all select null,nul...    1.0
3  jk dv1z0r39am1wjiiumia9xrxdowuo87f 110dcc d0ej...    1.0
4  1'||  (  select 'fdkl' where 4572  =  4572 uni...    1.0