In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import classification_report

[nltk_data] Downloading package punkt to /home/tumuruu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/tumuruu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/tumuruu/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
df = pd.read_csv('../dataset/inj_train.csv', engine='python', on_bad_lines='skip')

In [5]:
df.head()

                                               Query  Label
0  The film 'Nightbreed' is one of the best horro...    0.0
1  The story for Hare Rama Hare Krishna actually ...    0.0
2  1" where 6347 = 6347 union all select null,nul...    1.0
3  jk dv1z0r39am1wjiiumia9xrxdowuo87f 110dcc d0ej...    1.0
4  1'||  (  select 'fdkl' where 4572  =  4572 uni...    1.0